// video mixin
.video-mixin {
  .video-mixin__thumb {
    aspect-ratio: 16/9;
    // height: 140px;
    // width: 100%;
    max-width: 380px;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: ivory;
  }
  .video-mixin__data {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    .video-mixin__avatar {
      width: 42px;
      height: 42px;
      margin-right: 15px;
      border-radius: 50%;
    }
    .video-mixin__no-avatar {
      position: relative;
      width: 42px;
      height: 42px;
      margin-right: 15px;
      border-radius: 50%;
      background-color: $purple;
      span {
        position: absolute;
        top: 8px;
        left: 12px;
        text-transform: uppercase;
        font-size: 26px;
      }
    }
    .video-mixin__text {
      display: flex;
      flex-direction: column;
      .video-mixin__title {
        margin-top: 10px;
        font-size: 18px;
      }
      .video-mixin__meta {
        margin: 5px 0;
      }
      .video-mixin__num,
      .video-mixin__meta {
        font-size: 14px;
        opacity: 0.6;
      }
    }
  }
}
