extends base
include mixins/video

block content
  .video__grid
    each video in videos
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
    else
      div sorry, not found
