extends ../base

block content
  if errorMessage
    +message("error", errorMessage)
  form(method="post")
    input(placeholder="Old Password", type="password", name="oldPwd")
    input(placeholder="New Password", type="password", name="newPwd")
    input(
      placeholder="New Password Confirmation",
      type="password",
      name="newPwdConfirmation"
    )
    input(value="Change Password", type="submit")
