extends ../base
include ../mixins/video

block content
  .profile__data
    if !user.avatarUrl
      .profile__no-avatar
        span= user.name.substring(0, 1)
    else
      if isHeroku
        img.profile__avatar(src=user.avatarUrl)
      else
        img.profile__avatar(src="/" + user.avatarUrl)
    h3= user.name
  .video-grid
    each video in user.videos
      +video(video)
    else
      span.empty__message No videos found
